<mat-form-field appearance="outline" color="primary" class="input-datepicker">
  <mat-label>Data inicial</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>




<!-- 
<div class="grid-box">
  <div>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Data inicio</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div> -->